.col-centered {
	float: none;
	margin: 0 auto;
}

.footer-line-divider {
	border-top: 1px solid #ccc;
	margin: 20px 0px 0px 0px;
}

.no-margin {
	margin: 0px;
}

.no-margin-top {
	margin-top: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-left {
	margin-left: 0px;
}

.no-margin-right {
	margin-right: 0px;
}

.no-margin-top-bottom {
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-margin-left-right {
	margin-left: 0px;
	margin-right: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.make-bold {
	font-weight: bold;
}

.form-control.date-lookup {
	width: 105px !important;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-style: none;
}

.input-group-addon.date-lookup-label {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#stclogo{
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}

.no-shadow{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.tagline > li{
	color: #FFFFFF;
	font-size: 24px;
	font-style: italic;
	margin-left: 20px;
	line-height: 50px;
}

.badge.badge-normal {
	color: #fff;
	background-color: #5cb85c;
}

.badge.badge-warning {
	color: #fff;
	background-color: #f0ad4e;
}

.badge.badge-danger {
	color: #fff;
	background-color: #d9534f;
}

.btn-group.has-error .control-label {
	color: #a94442 !important;
}

.bg-white {
	background-color: #FFFFFF !important;
}

.all-middle > * {
	vertical-align: middle !important;
}

.all-middle > i {
	margin-right: 0.3em !important;
}

.loading-indicator {
	float: right;
  font-size: 19px;
  line-height: 1;
}


/* Weighing Scale */

.panel-primary{
	margin: 12px;
	margin-top: 70px;
}

.weight-lcd {
	color: #FFFFFF;
	padding: 20px;
	display: table;
	border-radius: 4px;
	background: linear-gradient(#000, #000);
  width: 100%;
	height: 100%;
  -moz-box-shadow: inset 0 0 10px #323333;
	-webkit-box-shadow: inset 0 0 10px #323333;
	box-shadow: inset 0 0 10px #323333;
	position: relative;
	margin: 0px;
	margin-bottom: 15px;
}

.weight-input {
	color: #FFFFFF;
	background: linear-gradient(#343538, #111113);
	border: 1px solid #343538;
}

.weight-lcd .weight-reading {
	color: #FFFFFF;
	text-shadow: #FFFFFF 0px 0px 10px !important;
	width: 80%;
	font-size: 62px;
	text-align: right;
	display: table-cell;
	padding-right: 15px;
	font-family: 'Verdana';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.weight-lcd .weight-info {
	width: 10%;
	font-weight: bold;
	display: table-cell;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	border-left: 1px dashed #FFFFFF;
}

.weight-lcd .weight-stage {
	width: 10%;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	margin-top: 0px;
	border-left: 1px dashed #FFFFFF;
}

.weight-lcd .weight-stage .txt1,
.weight-lcd .weight-stage .txt2 {
	font-size: 16px;
	display: table-row;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 30px;
	color: #CCCCCC;
	vertical-align: middle;
}

.weight-lcd .weight-info .weight-unit {
	font-size: 30px;
	display: table-row;
	margin-top: 0px;
	margin-bottom: 0px;
}

.weight-lcd .weight-info .weight-status {
	color: #777777;
	font-size: 18px;
	display: table-row;
	margin-top: 0px;
	margin-bottom: 0px;
}

.weight-lcd .weight-error {
	position: absolute;
  top: 0;
  left: 0;
	bottom: 0;
	right: 0;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
	z-index: 2;
	display: none;
}

.row-1 {
	margin: 0px 0px 10px 0px;
	width: 100%;
}

.row-2 {
	margin: 0;
	width: 100%;
}

.row-3 {
	margin: 0px 0px 0px 0px;
	width: 100%;
}

.col-1 {
	float: left;
	width: 17%;
	text-align: right;
}

.col-2 {
	float: left;
	width: 80%;
	margin-left: 5px;
}

.col-3 {
	float: left;
	width: 25%;
	margin-left: 10px;
}

.col-4 {
	float: left;
	width: 17%;
	text-align: right;
	margin-left: 10px;
}

.col-5 {
	float: left;
	width: 25%;
	margin-left: 12px;
}

.col-6 {
	float: left;
	width: 20%;
	margin-left: 10px;
}

.col-7 {
	float: left;
	width: 79%;
	margin-left: 10px;
}

.col-8 {
	float: left;
	width: 18%;
	text-align: right;
}

.col-9 {
	float: left;
	width: auto;
	margin-left: 12px;
}

.col-21 {
	float: left;
	width: 14%;
	text-align: right;
}

.col-22 {
	float: left;
	width: 84%;
	margin-left: 10px;
}

.col-23 {
	float: left;
	width: 35%;
	margin-left: 5px;
}

.weight-in-total {
	margin: 10px 0px 0px 0px;
	text-align: right;
}

.weight-in-total .left {
	float: left;
	width: 30%;
	text-align: left;
}

.weight-in-total .right {
	float: right;
	width: 60%;
	text-align: right;
}

.weight-in-total .right .label_ {
	float: right;
}

.weight-in-total .right .total {
	float: right;
	margin-left: 10px;
}


#weight-scale-form hr {
	margin: 0px 0px 10px 0px;
}

.zero-margin {
	margin: 0px;
}

.btn-block {
	height: 25%;
}

.btn-lg p:first-child {
	margin: 8px 0px 0px 0px;
}

.btn-lg p:last-child {
	margin: 5px 0px 8px 0px;
}